.big-ascii{
  font-size: 2rem;
}
table, td {
  border: 1px solid;
  text-align: right;
}
.small-digit{
    font-size: 0.5rem;
}
.black-cell>td {
    color: black;
    background-color: black;
}
table, th{
    color: black;
    background-color: black;
}
